.prix{
    height: 20px;
    font-size:20px;
    width: 55px;
    margin-top:45px;
    overflow:visible;
    display: flex;
    justify-content: center;
    &:active{
    transition-delay: 0.75s;
    transform:translateX(-10px);
       &+ .cercle {
        width: 65px;
        &> .circlehere{
            animation:decalage 600ms 1000ms linear;
            }
        }
        }
    }
    
@keyframes decalage{
    from{
        transform:rotate(0deg);
    } to {
        transform:rotate(360deg);
    }
}
.cercle{
    cursor:pointer;
    background-color: #99E2D0;
    background-attachment: local;
    height: 85px;
    width: 0;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
    color:white;
    }