$color-primary:#9356dc;
$color-secondary:hsl(317, 100%, 74%);
$color-third:#99e2d0;
$width-mobile:300px;
$width-tablettes:550px;
$width-ordinateur:1200px;
$delai1:1500ms;
$delai2:3000ms;
$delai3:5000ms;